@model IEnumerable<MVC_EDUHUB.ViewModel.MyEnquiryViewModel>

@{
    ViewData["Title"] = "List";
    Layout="~/Views/Shared/_LayoutStudent.cshtml";
}

<h1>My Enquiries</h1>

<p>
    <a asp-action="Create">Add New Enuiry</a>
</p>
@if (Model.Any())
{
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.EnquiryId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnquiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Response)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.EnquiryId)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnquiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.Response)
            </td> *@
        </tr>
}
    </tbody>
</table>
}
else
{
    <div class="alert alert-info" role="alert">
        There are currently no enquiries.
    </div>
}