@model IEnumerable<MVC_EDUHUB.Models.Enrollment>

@{
    ViewData["Title"] = "List";
}
@{
    ViewData["Title"] = "Educator Section";
    Layout = "~/Views/Shared/_LayoutEducator.cshtml";
}

<h1>List of Enrolled Student Under @TempData["Educator"]</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.EnrollmentId  }) |
                @Html.ActionLink("Details", "Details", new { id=item.EnrollmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.EnrollmentId  })
            </td>
        </tr>
}
    </tbody>
</table>
